/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;



}

main {
    display: grid;
    justify-content: center;


}


.container {
    margin-top: 50px;
    background-color: #FFFFFF;
    justify-content: center;
    display: grid;

}

footer {
    display: grid;
    justify-content: center;


}


/* top-banner part starts */

.top-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    height: 646px;
    width: 1321px;
    background-color: #161616;
    border-radius: 30px;


}

.greatest-show {

    margin-left: 150px;

}

.greatest-show h1 {
    font-weight: 700;
    color: #FFFFFF;
    line-height: 80px;
    font-size: 70px;
    margin-bottom: 25px;
}

.greatest-show p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 45px;

}

.greatest-show a {
    text-decoration: none;

}

.greatest-show a .red-button {
    padding: 16px 25px;
    background-color: #DD0000;
    color: #FFFFFF;
    height: 50px;
    width: 150px;
    border-radius: 5px;
}


.player-photo img {
    width: 600px;
}

/* top banner part ends */



/* mid section starts */

.mid-section {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
    width: 1321px;

}

.mid-section .left-side {
    height: 312px;
    width: 312px;
    background-color: #161616;
    border-radius: 10px;

}

.left-side {
    display: grid;
    align-items: center;
    justify-content: center;
}

.items a {
    display: flex;
    flex-direction: column;
    padding: 16px 25px;
    background-color: #FFFFFF;
    color: #161616;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}



.mid-section .right-side {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    row-gap: 24px;

}



.mid-section .right-side .match-info {
    height: 362px;
    width: 312px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

/* .mid-section ends */

/* footer starts */


.footer-part {
    justify-items: center;
    align-items: center;

    background-color: #161616;

}

.footer-part h1 {
    font-weight: 700;
    color: #FFFFFF;
    line-height: 80px;
    font-size: 70px;
    margin-bottom: 10px;
}


.footer-part a {

    text-decoration: none;
    padding-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
}

.footer-part .footer-points {
    margin-top: 20px;
}

.footer-part hr {
    height: 1px;
    background-color: #B9B9B9;
    border: none;
    width: 650px;
    justify-content: center;

}

/* footer ends */